<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
<style>
    p {font-family: "Amatic SC", sans-serif}
    .w3-bar-block .w3-bar-item {padding:20px}
    input[type=search] {
        width: 80%;
        padding: 2px 2px;
        margin: 4px 0;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
    }
    input[type=submit] {
        background-color: #00539B;
        color: white;
        padding: 0px 2px;
        margin: 4px 0;
        border: none;
        cursor: pointer;
        width: 20%;
        box-sizing: border-box;
        border-radius: 4px;
        font-family: "Amatic SC", sans-serif;
        font-size: 20px;
    }
    input[type=submit]:hover {
        background-color: #fff;
        color: #00539B;
        border: 2px solid #00539B;
        border-radius: 4px;
    }
    /* .w3-container {
        padding: 128px 16px;
    } */
    /* .w3-bar-block .w3-bar-item {padding:20px} */
</style>
<div class="w3-container">
    <h1><b>Stock Lookup</b></h1>
    <form method="POST">
        <!-- Text Input and Submit Button -->
        <input type="search" name="search" placeholder="Ticker..">
        <div class="w3-bar">
            <!-- Submit Button --><ctrl63> <input type="submit" value="Submit">
        </div>
        <div class="w3-bar-block">
            <input type="radio" name="search_type" value="ticker001"> TSLA</input>
            <input type="radio" name="search_type" value="ticker002"> AAPL</input>
            <input type="radio" name="search_type" value="ticker003"> AMZN</input>
            <input type="radio" name="search_type" value="ticker004"> GOOG</input>
            <input type="radio" name="search_type" value="ticker005"> MSFT</input>
        </div>
    </form>
</div>