<!-- Make horizontal with flex -->
<style>
        .menu {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-gap: 1px;
            list-style: none;
            padding: 0;
            margin: 0;
            overflow-wrap: break-word;
        }
        .menu li a {
            display: block;
            padding: 2px;
            background-color: #fff;
            color: #00539B;
            text-decoration: none;
        }
        .menu li a:hover {
            background-color: #044781;
            color: #fff;
            border-color: #fff;
        }
        /* .menu li:nth-child(odd) a {
            background-color: white;
            color: #00539B;
        }
        .menu li:nth-child(even) a:hover {
            background-color: #e9e6e6;
            border-color: #00539B;
            color: #00539B;
        } */
        /* Add mobile responsive menu and images */
        /* Collapse the navbar to toggleable button when page is scrolled and make sticky */
        @media (max-width: 768px) {
            .menu {
                font-size: .5em;
            }
            .navbar {
                position: sticky;
                top: 0;
            }
            .expand {
                display: block;
            }
        }

        /* Add the update button */
        
    ul {
        display: flex;
        justify-content: space-evenly;
        background-color: #fff;
        padding: 10px;
        margin: 0;
    }

    li {
        list-style: none;
    }

    a, a:hover, button, button:hover {
        text-decoration: none;
        font-size: 12px;
        border-width: 2px;
        border-style: double;
        padding: 4px;
        border-radius: 5px;
        margin: 5px;
    }
    a, button {
        color: #00539B;
        border-color: #00539B;
        background-color: #fff;
    }
    
    /* Active state */
    .active {
        color: #fff;
        background-color: #00539B;
    }

    a:hover, button:hover {
        color: #fff;
        border-color: #fff;
        background-color: #00539B;
    }

    /* a:hover:after { */
    /*     content: ' (' attr(href, 'url') ')'; */
    /*     display: block; */
    /*     color: #666; */
    /*     font-size: 12px; */
    /*     font-weight: normal; */
    /*     text-decoration: none; */
    /* } */

    .navbar {
        margin-bottom: 20px;
    }

    .container {
        margin-top: 20px;
    }

    .card {
        margin-bottom: 20px;
    }
    /*
        button {
            border: 1px solid blue;
            border-radius: 5px;
            background-color: white;
            color: blue;
            padding: 10px;
            margin: 10px;
        }
        button:hover {
            background-color: blue;
            color: white;
        }
    */

</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JkoFVc0b1jZU" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<sipt src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/3.3.6/scrollreveal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
<script src="scripts/extras.1.1.0.min.js"></script>
<script src="scripts/shards-dashboards.1.1.0.min.js"></script>
<script src="scripts/app/app-blog-overview.1.1.0.js"></script>
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Work+Sans:300,400,700">
<!-- CSS Reset -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <script>
        // Collapse the navbar when page is scrolled
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(".navbar").offset().top > 50) {
                    $(".navbar-fixed-top").addClass("top-nav-collapse");
                } else {
                    $(".navbar-fixed-top").removeClass("top-nav-collapse");
                }
            });
        });
        // jQuery for page scrolling feature - requires jQuery Easing plugin
        $(function () {
            $('a.page-scroll').bind('click', function (event) {
                var $anchor = $(this);
                $('html, body').stop().animate({
                    scrollTop: $($anchor.attr('href')).offset().top
                }, 1500, 'easeInOutExpo');
                event.preventDefault();
            });
        });
        // Closes the Responsive Menu on Menu Item Click
        $('.navbar-collapse ul li a').click(function () {
            $('.navbar-toggle:visible').click();
        });
        // Offset for Main Navigation
        $('#mainNav').affix({
            offset: {
                top: 100
            }
        });
        // Initialize and Configure Scroll Reveal Animation
        window.sr = ScrollReveal();
        sr.reveal('.sr-icons', {
            duration: 600,
            scale: 0.3,
            distance: '0px'
        }, 200);
        sr.reveal('.sr-button', {
            duration: 1000,
            delay: 200
        });
        sr.reveal('.sr-contact', {
            duration: 600,
            scale: 0.3,
            distance: '0px'
        }, 300);
        // Initialize and Configure Magnific Popup Lightbox Plugin
        $('.popup-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
            }
        });

        // Tooltips and popovers
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
        // Initialize Mobile Navigation on window load
        $(document).ready(function () {
            $('.mobile-nav').hide();
        });
        $('.mobile-toggle').click(function () {
            $('.mobile-nav').addClass('open');
        });
        $('.close-menu').click(function () {
            $('.mobile-nav').removeClass('open');
        });
    </script>
    <style>
    </style>
    <script>
        function update() {
            $.getJSON("/jinx", function(data) {
                var ctx = document.getElementById('jinx').getContext('2d');
                var chart = new Chart(ctx,
                    {
                        type: 'candlestick',
                        data: {
                            datasets: [{
                                label: 'Jinx',
                                data: data,
                                borderColor: 'black',
                                backgroundColor: 'red',
                                borderWidth: 1,
                                borderDash: [5, 5],
                                hoverBorderDash: [2, 2],
                                pointRadius: 0,
                                pointHitRadius: 5,
                                pointHoverRadius: 5,
                                pointHoverBorderWidth: 2,
                                pointHoverBackgroundColor: 'green',
                                pointHoverBorderColor: 'blue',
                                pointHoverBorderDash: [2, 2],
                                pointHoverBorderDashOffset: 5,
                                pointHitRadius: 10
                            }]
                        }
                    }
                );
            });
        }
    </script>
    <script>
        // add active class to menu items
        $('.menu li a').click(function () {
            $('.menu li a.active').removeClass('active');
            $(this).addClass('active');
        });
    </script>
    <div class="container w3-container navbar">
        <!-- Mobile responsive menu-->
        <ul class="w3-navbar w3-large menu">
            {% if true %}
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('model') }}">Model</a></li>
                <li><a href="{{ url_for('matplotlib') }}">Images</a></li>
                <li><a href="{{ url_for('bayes') }}">Bayes</a></li>
                <li><a href="{{ url_for('bayesian_ridge') }}">Bayesian Ridge</a></li>
                <li><a href="{{ url_for('linear_regression') }}">Linear Regression</a></li>
                <!-- Add Random Forest -->
                <li><a href="{{ url_for('random_forest') }}">Random Forest</a></li>
                {% if request.endpoint == 'matplotlib': %}
                    <!-- Button to update the interval -->
                    <button onclick="update()">Update</button>
                {% endif %}
            {% else: %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('api/TSLA') }}">API</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
            {# Create routes for all the routes in templates #}
        </ul>
        {# If the currently rendered page is home add form #}
        {% if request.endpoint == 'model': %}
            <div class="row">
                <div class="col-lg-12">
                    <h1>{% include 'form.html' %}</h1>
                </div>
            </div>
        {% endif %}
        {# include 'search.html' #}
    </div>
</nav>
