<input type="text" id="search" name="search">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(function() {
    $("#search").autocomplete({
        source: function(request, response) {
            $.ajax({
                url: "/search_autocomplete",
                type: "GET",
                data: request,
                success: function(data) {
                    response(data);
                }
            });
        }
    });
});
</script>